data/node_modules/node-red-contrib-objectid/examples/simple-object-id.json
[
  {
    "id": "535dddf35af341cf",
    "type": "tab",
    "label": "Object-ID Demo",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6a6ec4f2.15278c",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "JSON",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "{\"test\":\"data\"}",
    "payloadType": "json",
    "x": 370,
    "y": 100,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "b165a309.9717",
    "type": "debug",
    "z": "535dddf35af341cf",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 680,
    "y": 220,
    "wires": []
  },
  {
    "id": "6a2d9877.08a198",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "24 hex to use and validate",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "{\"uuid\":\"572dbc06f307c8682045c55c\"}",
    "payloadType": "json",
    "x": 310,
    "y": 140,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "91b5fbcb.ac1e08",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "Timestamp",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "",
    "payloadType": "date",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "10535221.075c5e",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "String",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "Hello world!",
    "payloadType": "str",
    "x": 370,
    "y": 300,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "e5d7a419.13ea88",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "JSON Array",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "[{\"test1\":\"test1\"}, {\"test2\":\"test2\"}]",
    "payloadType": "json",
    "x": 350,
    "y": 260,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "57ce901e.65cd5",
    "type": "objectid",
    "z": "535dddf35af341cf",
    "name": "",
    "selectedProperty": "",
    "x": 540,
    "y": 220,
    "wires": [
      [
        "b165a309.9717"
      ]
    ]
  },
  {
    "id": "ce4fced6.86dbe",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "Number",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "0",
    "payloadType": "num",
    "x": 370,
    "y": 220,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "bfe8a5c0.2a45f8",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "Boolean",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "test",
    "payload": "true",
    "payloadType": "bool",
    "x": 360,
    "y": 340,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  }
]
