data/node_modules/node-red-contrib-objectid/examples/simple-uuid.json
[
  {
    "id": "535dddf35af341cf",
    "type": "tab",
    "label": "UUID Demo",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b165a309.9717",
    "type": "debug",
    "z": "535dddf35af341cf",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 670,
    "y": 220,
    "wires": []
  },
  {
    "id": "6a2d9877.08a198",
    "type": "inject",
    "z": "535dddf35af341cf",
    "name": "24 hex UUID to use and validate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "uuid",
    "payload": "{\"uuid\":\"572dbc06f307c8682045c55c\"}",
    "payloadType": "json",
    "x": 250,
    "y": 220,
    "wires": [
      [
        "57ce901e.65cd5"
      ]
    ]
  },
  {
    "id": "57ce901e.65cd5",
    "type": "objectid",
    "z": "535dddf35af341cf",
    "name": "",
    "selectedProperty": "",
    "x": 520,
    "y": 220,
    "wires": [
      [
        "b165a309.9717"
      ]
    ]
  }
]
